@import 'tailwindcss';

@theme {
  /*************************************************
    [색상]
    - 색상코드의 경우 소스단에 직접 코딩하는 것을 지양
    - 색이 바뀌지 않는 고정된 몇 요소에만 색상코드 직접 사용
  *************************************************/
  --color-ta-blue: #3182f6; /* 파란색 */
  --color-ta-blue-dark: #1b64da; /* 어두운 파란색 */
  --color-ta-blue-light: #51a2ff; /* 밝은 파란색 */

  --color-ta-gray: #8b95a1; /* 회색 */
  --color-ta-gray-dark: #333d48; /* 어두운 회색 */
  --color-ta-gray-light: #d1d6db; /* 밝은 회색 */
  --color-ta-svg: #f3f4f6; /* 밝은 회색(svg) */

  --color-ta-black: #000000; /* 검은색 */
  --color-ta-black-light: #4e5958; /* 밝은 검정색 */
  --color-ta-white: #ffffff; /* 흰색 */
}

@theme {
  /*************************************************
    [라이트모드]
    - 컴포넌트 기반으로 역할별로 분류
    - 메뉴, 버튼, 배경, 제목, 내용 등 
  *************************************************/
  --color-ta-base: var(--color-ta-white); /* 배경 */
  --color-ta-base-title: var(--color-ta-black); /* 제목텍스트 */
  --color-ta-base-content: var(--color-ta-black-light); /* 본문텍스트*/

  --color-ta-surface: #f9fafb; /* 카드 또는 섹션 배경 (미색) */
  --color-ta-divider: var(--color-ta-gray-light); /* 구분선 (밝은 회색) */

  --color-ta-primary: var(--color-ta-blue); /* 브랜드 주요 색상 (파랑) */
  --color-ta-primary-content: #ffffff; /* 주요 색상 위 텍스트 (흰색) */
}

/*************************************************
  [다크모드]
*************************************************/
:root.dark {
  --color-ta-base: #212121;
  --color-ta-base-title: var(--color-ta-white);
  --color-ta-base-content: #d1d6db;

  --color-ta-surface: #1e1e1e;
  --color-ta-divider: var(--color-ta-gray-dark);
  --color-ta-subtext: var(--color-ta-gray-light);

  --color-ta-primary: var(--color-ta-black);
  --color-ta-primary-content: var(--color-ta-white);

  --color-ta-svg: #2a2a2b;
}

@theme {
  /*************************************************
    [애니메이션]
  *************************************************/
  --animate-fade-in: fade-in 1.2s ease-in-out forwards;
  --animate-bounce-small: bounce-small 1.5s ease-in-out infinite;
  --animate-wiggle: wiggle 1s ease-in-out infinite;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes bounce-small {
    0%,
    100% {
      transform: translateY(15%);
      opacity: 1;
    }
    50% {
      transform: translateY(0);
      opacity: 0.2;
    }
  }
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

@layer base {
  html,
  body {
    @apply m-0 p-0 transition-colors duration-200;
    background-color: var(--color-ta-base);
    color: var(--color-ta-base-content);
    font-family: 'Pretendard Variable', sans-serif;
  }
}

@layer components {
  /*************************************************
    [기본]
  *************************************************/
  .ta-layout {
    @apply min-h-screen;
  }
  .ta-content {
    @apply mx-auto w-full max-w-[1140px];
  }
  .ta-header {
    transition:
      background-color 150ms ease-in-out,
      border-color 150ms ease-in-out;
  }

  /*************************************************
    [메뉴]
  *************************************************/
  .ta-nav-menu-item,
  .ta-drawer-menu-item {
    @apply mx-1 my-auto block cursor-pointer rounded-lg px-4 py-2 text-sm font-normal whitespace-nowrap transition-all;
    @apply hover:bg-gray-100;
    color: var(--color-ta-base-content);
  }
  .dark .ta-nav-menu-item:hover,
  .dark .ta-drawer-menu-item:hover {
    background-color: var(--color-ta-surface);
  }

  /*************************************************
    [버튼]
  *************************************************/
  .ta-button-primary {
    @apply inline-block w-fit cursor-pointer rounded-lg px-4 py-2 sm:px-6 sm:py-2.5;
    @apply text-center text-base font-medium no-underline transition-all sm:text-lg;
    background-color: var(--color-ta-primary);
    color: var(--color-ta-primary-content);
  }
  .ta-button-primary:hover {
    background-color: var(--color-ta-blue-dark);
    @apply opacity-90;
  }
  .dark .ta-button-primary:hover {
    background-color: var(--color-neutral-900);
    @apply brightness-110;
  }
  .ta-button-outline {
    @apply inline-block w-fit cursor-pointer rounded-lg border-1 px-4 py-2 sm:px-6 sm:py-2.5;
    @apply text-center text-base font-medium no-underline transition-all sm:text-lg;
    border-color: var(--color-ta-divider);
    background-color: transparent;
    color: var(--color-ta-primary);
  }
  .ta-button-outline:hover {
    border-color: var(--color-ta-primary);
    background-color: var(--color-ta-surface);
  }
  .ta-button-disabled {
    @apply pointer-events-none inline-block w-fit rounded-lg px-4 py-2 select-none sm:px-6 sm:py-2.5;
    @apply text-center text-base font-medium sm:text-lg;
    background-color: var(--color-ta-divider);
    color: #ffffff;
    opacity: 0.6;
  }
}
